<head>
    <meta charset="UTF-8">
    <meta name="description" content="Custom Burger Creator">
    <meta name="author" content="Erick Henriquez">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Burger App</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/assets/js/burgers.js"></script>

</head>

<body>
    <div class="burger">
        <div class="row h-100">
            <div class="col-med-12 align-self-center">
                <h1>Burger Time!</h1>
            </div>
        </div>
    </div>

    {{{ body }}}


    <footer class=" center footer">
        <div class="container">
            <p>&copy; Copyright 2019 Rebecca Baker</p>
        </div>
    </footer>
</body>

</html>